@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.work-section{
    padding: 80px;
    background: #1929b7;
    color: #fff;
}
.work-section ul{
  overflow:hidden;
  padding:3em;
  font-family: 'Amatic SC', cursive;
}
.work-section li{
  list-style:none;
  font-family: 'Amatic SC', cursive;
}
.work-section ul li a{
  text-decoration:none;
  color:#000;
  background:#fdb25a;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.work-section ul li{
  margin:1em;
  float:left;
}
.work-section ul li h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:10px;
}
.work-section ul li p{
  font-size:160%;
}
.work-section ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.work-section ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#82add7;
}
.work-section ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#c85292;
}
.work-section ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.work-section ul li a:hover,.work-section ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
